.footer-network {
	background-color: #c0301c;
	.footer-social {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		.icon {
			display: flex;
			width: 35px;
			height: 35px;
			border: 2px solid $white;
			background-color: transparent;
			border-radius: 50%;
			align-items: center;
			flex-direction: column;
			text-decoration: none;
			margin-right: 15px;
			opacity: .7;
				transition: all .5s ease-out;
				&:hover {
					opacity: 1;
				transition: all .5s ease-out;
				}
				&:nth-last-child {
					margin-right: 0;
				}
			color: $white;
			justify-content: center;
		}
	}
	.footer-line {
		display: flex;
		width: 51px;
		height: 2px;
		background-color: $white;
		margin: 35px auto 0 auto;
	}
	.footer-description {
		color: $white;
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		text-align: center;
		margin-top: 30px;
	}
}
